<div>
  <div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
      Add a new board
    </button>
    <!--    <h2>
      Add a new board
    </h2>-->

  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>

<ul>
  <% @list_of_boards.each do |a_board| %>
    <li>
      <a href="/boards/<%= a_board.id %>">
        <%= a_board.name %>
      </a>
    </li>
  <% end %>
</ul>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New board</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insert_board" method="post">
          <div class="mb-3">
            <label class="form-label" for="name_box">
              Name
            </label>

            <input class = "form-control" type="text" id="name_box" name="query_name">
          </div>

          <div class="d-grid">
            <button class="btn btn-success">
              Add board
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
